.Container{
    background-color: #2b2b2b;
}
.curreucy{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    padding: 5px;
    border-radius: 2px;
}
.infoBox {
    width: 100%;
    height: 80px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: #333333;
    color: #ffffff;
    padding: 0px 8px;
    text-align: center;
    
  }
  .imgHolder{

  }
.imageCountry{
    width: 100%;
    height: 100%;
   margin: auto;
}
.imgHolder{
    width: 50%;
    margin: auto;
}
.countryPic{
    width: 90%;
    margin: auto;
    margin: auto;
    object-fit: fill;
}
.coutryName{
    width:35%;    
    height: 100%;
    margin: auto;
}
.currencyBox{
  
    height: 100%;
    display: flex;
    flex-direction: row;
}
.textCountryName{
    text-align: center;
    font-weight: bold;
}
.textCost{
    text-align: center;
    color: #dec709;
    font-size: 14px;
}
.titleText{
font-size: 14px;
color : #e7e6e6 ; 
}

@media (min-width : 800px){
    .curreucy{
        width: 600px;
        margin: auto;
    }
    .countryPic{
        width: 100px;
    }
}
@media (min-width : 600px){
    .curreucy{
        width: 80%;
        margin: auto;
    }
}